*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgb(20, 19, 19),rgb(60, 60, 218));
    color: white;
}
.main-section{
    height: 100vh;
    width: 100vw;
}
.back-arrow-container{
    position: relative;
}
.back-arrow-container a{
    color:white;
    font-size: calc(20px + 1vw);
}
.arrow{
    transform: rotate(-90deg);
    position: absolute;
    top: 20px;
    left: 20px;
}
.operations-section ul{
    list-style-type: none;
}
.operations-section ul li a{
    color: rgb(207, 192, 192);
    text-decoration: none;
}
.operations-section ul li a:hover{
    color:white;
}