*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgb(20, 19, 19),rgb(60, 60, 218));
    color: white;
}
.main-section{
    height: 100vh;
    width: 100vw;
}
.back-arrow-container{
    position: relative;
}
.back-arrow-container a{
    color:white;
    font-size: calc(20px + 1vw);
}
.arrow{
    transform: rotate(-90deg);
    position: absolute;
    top: 20px;
    left: 20px;
}

.operations-section {
    margin-top:20px;

}
.operations-section ul{
    list-style-type: none;  
    padding: 0;
}
.columnsItems{
    list-style-type: none;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
    margin:0 !important;
    padding: 0 !important;
    /* white-space: normal; */
    column-gap: 20px;
  }
.operations-section ul li {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 2px 20px;
    background-color: rgb(31, 62, 146);
}
.operations-section ul li a{
    text-decoration: none;
    color: rgb(196, 191, 191);
    font-size: clamp(1rem,3vw,1.5rem);
    font-weight: 500;
    text-decoration: none;
}
.operations-section ul li a:hover{
    color:white;
}
span{
    opacity: 0;
    transition: all 1s ease;
    
}
span.fading{
    opacity: 1;

}
.cHidden{
    opacity: 0;
}
.cFading{
    transition: all 1s ease;
    opacity: 1;
}